:root {
  --dark-bg:#2F363E;
  --dark-text:#FFFFFF;
  --light-bg: #f0faef;
  --light-bg-backup: #F5F0E1;
  --light-text: #000000;
  --light-secondary-color: #d9f0d7;
  --light-secondary-color-backup:#FCE7A9;
}

body {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

body.light-mode {
  background-color: var(--light-bg);
  color: var(--light-text);
}